<div class="container">
  <!-- display user details tables-->
  <div class="col-lg-12 data-display">
    <div class="form-group">
      <input type="text" name="" class="search form-control" placeholder="Search" ng-model="search" ng-keypress="removeTransition()">
    </div>
    <!-- order by buttons -->
    <div class="row orderBy" style="padding: 0;margin: 0;">
      <div class="form-group col" style="padding: 0;text-align: left;">
        <button type="button" ng-click="order = 'name'" class="btn btn-primary">Order by name</button>
      </div>
      <div class="form-group col" style="padding: 0;text-align: right;">
        <button type="button" ng-click="order = 'profession'" class="btn btn-primary">Order by Profession</button>
      </div>
    </div>
    <!-- order by buttons finish-->
    <!-- people table -->

<ul class="outer">
  <li>
    <ul class="thead">
      <li>
        No.
      </li>
      <li>
        Name
      </li>
      <li>
        Age
      </li>
      <li>
        Profession
      </li>
      <li>
        Action
      </li>
    </ul>
  </li>
  <li>
    <ul class="tbody" ng-repeat="person in people | orderBy: order | filter: search">
      <li>
        {{ $index + 1 }}
      </li>
      <li>
        <div class="img" ng-show="person.userImg">
            <img ng-src="{{ person.userImg }}" alt="{{ person.name}}" class="img-responsive"/>
        </div>
        <span>
            {{ person.name}}
        </span>
      </li>
      <li>
        {{ person.age }}
      </li>
      <li>
        {{ person.profession }}
      </li>
      <li>
        <a href="" ng-click="deleteFunc($index)">Delete</a>
      </li>
    </ul>
  </li>
</ul>
<a ng-click="deleteAllIsers()" class="btn btn-primary" style="float: right;z-index: 99999;position: relative;color: #fff;">Delete all</a>

    <!-- <table class="table table-dark table-striped">
      <thead class="thead-light">
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Age</th>
          <th>Profession</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in people | orderBy: order | filter: search">
          <td>
            {{ $index + 1 }}
          </td>
          <td>
              <div class="img" ng-show="person.userImg">
                  <img ng-src="{{ person.userImg }}" alt="{{ person.name}}" class="img-responsive"/>
              </div>
              <span>
                  {{ person.name}}
              </span>
          </td>
          <td>
            {{ person.age }}
          </td>
          <td>
            {{ person.profession }}
          </td>
          <td>
            <a href="" ng-click="deleteFunc($index)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table> -->
    <!-- people table finish-->

  </div>

  <div class="col-lg-12" style="">

    <!-- show people adding pane btn -->
    <div class="row orderBy" style="padding: 0;margin: 0;">
      <div class="form-group col" style="padding: 0;text-align: left;">
        <button type="button" ng-click="addUser = true" class="btn btn-primary">Add more people</button>
      </div>
    </div>
    <!-- show people adding pane btn finish-->

    <!-- add more people form -->
    <form class="add-user-form" ng-submit="submitValue()" ng-show="addUser" style="border: 1px solid #cfcfcf;padding: 15px 15px;margin-bottom: 15px;">

      <!-- Hide people adding pane btn -->
      <div class="row orderBy" style="padding: 0;margin: 0;">
        <div class="col" style="padding: 0;text-align: right;">
          <button type="button" ng-click="addUser = false" class="btn btn-primary">hide</button>
        </div>
      </div>
      <!-- Hide people adding pane btn finish -->

      <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Name" class="form-control" ng-model="myname">
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="text" placeholder="Age" class="form-control" ng-model="myage">
      </div>
      <div class="form-group">
        <label>Profession</label>
        <input type="text" placeholder="Profession" class="form-control" ng-model="profession">
      </div>
      <input type="Submit" value="Submit" class="btn btn-success">

    </form>
    <!-- add more people finish -->
  </div>
  <!-- display user details tables finish-->
</div>
